<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold"><%= t('application_name') %></h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"><%= t('playlists.index.hero') %></p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to t("actions.create_playlist"), new_playlist_path, class: 'btn btn-primary btn-lg px-4 gap-3' %>
    </div>
  </div>
</div>