<% flash.each do |flash_type, message| %>
  <div
    class="flash__message <%= flash_type_classes(flash_type) %>"
    data-controller="removals"
    data-action="animationend->removals#remove"
  >
    <%= message %>
  </div>
<% end %>