<% flash.each do |flash_type, message| %>
  <div
    class="flash__message <%= flash_type_classes(flash_type) %>"
    data-controller="flash"
    data-flash-type="<%= flash_type %>"
    data-flash-message="<%= message %>"
  >
  </div>
<% end %>